body {
    background-color: black;
}

.refreshButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
}

.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
}
